<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Product</title>
    <meta charset="UTF-8"/>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Bootstrap JavaScript CDN and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Edit Product</h1>
    <form th:action="@{/api/products/update/{id}(id=${editProduct.id})}" th:object="${editProduct}" method="post">
        <input type="hidden" name="_method" value="put" />
        <div class="form-group">
            <label for="name">Product Name:</label>
            <input type="text" id="name" th:field="*{name}" th:value="${editProduct.name}" required class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" th:field="*{description}" th:value="${editProduct.description}" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" step="0.01" th:field="*{price}" th:value="${editProduct.price}" required class="form-control">
        </div>
        <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" th:field="*{quantity}" th:value="${editProduct.quantity}" required class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Update Product</button>
    </form>
</div>
</body>
</html>